@{
    string[] open = new string[5];
    @if (ViewBag.lugar_del_error >= 2 && ViewBag.lugar_del_error <= 6)
    {
        open[ViewBag.lugar_del_error - 2] = "open";
    }
}

<header style="background:darkred;">
    AIRCOM ADMIN
</header>

<nav class="navegacion">
    <div>
        <button name="pagina" value="1" class="active" type="submit"><h2>Administrar</h2></button>
        <p style="color:white;">____</p>
        <form asp-action="ChangePage">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <button name="pagina" value="2" class="pasive" type="submit"><h2>Ver estadísticas</h2></button>
        </form>
    </div>
</nav>


@if(ViewBag.sucess!="")
{
    <div class="alert-success">@ViewBag.sucess</div>
}

@* Pagina 1 Administrar *@
<section>
    @*Primer formulario: Añadir Aeropuerto*@
    <details @open[0]>
        <summary>Añadir Aeropuerto</summary>
        <center>
            <form asp-controller="Airport" asp-action="Create" class="formulario">

                @*Aqui son los datos del aeropuerto, este no debe figurar en la base de datos*@
                <table>

                    <tr class="form-group">
                        <td>Nombre: </td>
                        <td>
                            <input name="Name" class="form-control" placeholder="introduzca nombre" required />
                    </tr>

                    <tr class="form-group">
                        <td>Coordenadas geográficas: </td>
                        <td>
                            <input name="Coordinates" class="form-control" placeholder="introduzca coordenadas" required />
                    </tr>

                    <tr class="form-group">
                        <td>Dirección: </td>
                        <td>
                            <input name="Direction" class="form-control" placeholder="introduzca dirección" required />
                    </tr>

                </table>

                @*Aqui van los datos del guardia de seguridad, este no debe figurar en la base de datos*@
                <h3>Empleado de Seguridad</h3>
                <table>

                    <div class="form-group">
                        <input name="Security.Type" class="form-control" type="hidden" value="Seguridad" />
                    </div>

                    <div class="form-group">
                        <input name="Security.Nationality" class="form-control" type="hidden" value="Cuba" />
                    </div>

                    <tr class="form-group">
                        <td>Nombre: </td>
                        <td>
                            <input name="Security.Name" class="form-control" placeholder="introduzca nombre" required />
                        </td>
                    </tr>

                    <tr class="form-group">
                        <td>Carnet de identidad: </td>
                        <td>
                            <input name="Security.CI" class="form-control" placeholder="Introduzca ID" pattern="[0-9]{1,}" title="Debe ser numero" required />
                        </td>
                    </tr>

                    <tr class="form-group">
                        <td>Correo electrónico: </td>
                        <td>
                            <input type="email" name="Security.Email" class="form-control" placeholder="introduzca su correo" required />
                        </td>
                    </tr>

                    <tr class="form-group">
                        <td>Contraseña: </td>
                        <td>
                            <input name="Security.Pwd" type="password" class="form-control" placeholder="Introduzca contraseña" required />
                        </td>
                    </tr>
                </table>

                @*Aqui va un mensaje de error si lo hay. a y error deben ser cambiados por atributos que se pasen*@
                @if (ViewBag.lugar_del_error == 2)
                {
                    <aside class="error">
                        @ViewBag.error
                    </aside>
                }

                <div class="form-group">
                    <input type="submit" value="Enviar" class="boton" />
                </div>

            </form>
        </center>
    </details>

    @*Segundo formulario: Crear/Editar tipo de reparación*@
    <details>
        <summary>Crear/Editar tipo de reparación</summary>
        <center>
            <form asp-controller="Repair" asp-action="Create" class="formulario">
                <div><input name="name" placeholder="Introducir nombre" required /></div>
                <div><textarea name="description" placeholder="Introducir descripcion" required></textarea></div>
                @*Si el nombre existe, se edita la descripcion, sino se crea la reparacion*@
                <div><button class="boton" type="submit">Enviar</button></div>
            </form>
        </center>
    </details>

    @*Tercer formulario: Añadir Dependencia de reparación*@
    <details @open[1]>
        <summary>Añadir Dependencia de reparación</summary>
        <center>
            <form asp-controller="Depend" asp-action="Create" class="formulario" name="dependencia" method="post">
                <table>
                    <tr>
                        <td>Dependiente: </td>
                        <td>
                            <select name="dependiente" asp-items="ViewBag.repairs" name="primaryid">
                            </select>
                        </td>
                    </tr>
                    <tr>
                        @*Estos son los unicos posibles estados de una nave*@
                        <td>Estado necesario: </td>
                        <td>
                            <select name="state">
                                <option value="Óptimo">Óptimo</option>
                                <option value="Bien">Bien</option>
                                <option value="Regular">Regular</option>
                                <option value="Mal">Mal</option>
                                <option value="Pésimo">Pésimo</option>

                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Dependencia: </td>
                        <td>
                            <select name="Dependencia" asp-items="ViewBag.repairs" name="secondid">
                            </select>
                        </td>
                    </tr>
                </table>
                @*Aqui va un mensaje de error si lo hay. a y error deben ser cambiados por atributos que se pasen*@
                @if (ViewBag.lugar_del_error == 3)
                {
                    <aside class="error">
                        @ViewBag.error
                    </aside>
                }
                <button class="boton" type="submit">Enviar</button>
            </form>
        </center>
    </details>

    <center><h1>Region peligrosa, proceda con cuidado</h1></center>

    @*Cuarto Formulario: Eliminar Aeropuerto*@
    <details class="dangerousZone" @open[2]>
        <summary>Eliminar aeropuerto</summary>
        <center>
            <form asp-controller="Airport" asp-action="Delete" class="formulario">
                Nombre del aeorpuerto
                <input type="text" name="Name" placeholder="Introduzca nombre" required>
                <div class="error">
                    Nota*: Al desactivar un aeropuerto se mantiene su informacion asociada como el historial en la base de datos
                    Al eliminar se elimina tambien todo rastro de este en la base de datos
                </div>
                @*Aqui va un mensaje de error si lo hay. a y error deben ser cambiados por atributos que se pasen*@
                @if (ViewBag.lugar_del_error == 4)
                {
                    <aside class="error">
                        @ViewBag.error
                    </aside>
                }
                <div>
                    <button class="boton" name="Cascada" value="false" type="submit">Desactivar</button>
                    <button class="badboton" name="Cascada" value="true" type="submit">Eliminar</button>
                </div>
            </form>
        </center>
    </details>

    @*Quinto Formulario: Eliminar Reparacion*@
    <details class="dangerousZone" @open[3]>
        <summary>Eliminar Reparación</summary>
        <center>
            <form asp-controller="Repair" asp-action="Delete" class="formulario">
                Nombre
                <input type="text" name="Name" placeholder="Introduzca nombre" required>
                <div class="error">
                    Nota*: Al desactivar un aeropuerto se mantiene su informacion asociada como el historial en la base de datos
                    Al eliminar se elimina tambien todo rastro de este en la base de datos
                </div>
                @*Aqui va un mensaje de error si lo hay. a y error deben ser cambiados por atributos que se pasen*@
                @if (ViewBag.lugar_del_error == 5)
                {
                    <aside class="error">
                        @ViewBag.error
                    </aside>
                }
                <div>
                    <button class="boton" name="Cascada" value="false" type="submit">Desactivar</button>
                    <button class="badboton" name="Cascada" value="true" type="submit">Eliminar</button>
                </div>
            </form>
        </center>
    </details>


    @*Sexto formulario: Eliminar Dependencia de reparación*@
    <details class="dangerousZone" @open[4]>
        <summary>Eliminar Dependencia de reparación</summary>
        <center>
            <form asp-controller="Depend" asp-action="Delete" class="formulario" name="dependencia" method="post">
                <table>
                    <tr>
                        <td>Dependiente: </td>
                        <td>
                            <select name="dependiente" asp-items="ViewBag.repairs" name="primaryid">
                            </select>
                        </td>
                    </tr>
                    <tr>
                        @*Estos son los unicos posibles estados de una nave*@
                        <td>Estado necesario: </td>
                        <td>
                            <select name="state">
                                <option value="Óptimo">Óptimo</option>
                                <option value="Bien">Bien</option>
                                <option value="Regular">Regular</option>
                                <option value="Mal">Mal</option>
                                <option value="Pésimo">Pésimo</option>

                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Dependencia: </td>
                        <td>
                            <select name="Dependencia" asp-items="ViewBag.repairs" name="secondid">
                            </select>
                        </td>
                    </tr>
                </table>
                @*Aqui va un mensaje de error si lo hay. a y error deben ser cambiados por atributos que se pasen*@
                @if (ViewBag.lugar_del_error == 6)
                {
                    <aside class="error">
                        @ViewBag.error
                    </aside>
                }
                <button class="badboton" type="submit">Eliminar</button>
            </form>
        </center>
    </details>
</section>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}