@{
    ViewData["Title"] = "Home Page";
}

@{
    int[] sol = new int[] { 1, 2, 3, 4 };
    bool a = true;
    bool b = true;
    bool c = true;
    bool d = true;
    string Cuadrado(int x) => ViewBag.page == x ? "active" : "pasive";
}

<header>
    AIRCOM
</header>

<nav>
    <h4>AEREOPUERTO > USUARIO</h4>
</nav>
<nav class="navegacion">
    <form method="post">
        <div>
            <button class=@Cuadrado(1) type="submit" name="page" value="1"><h2>Instalaciones</h2></button>
            <p style="color:white;">____</p>
            <button class=@Cuadrado(2) type="submit" name="page" value="2"><h2>Servicios</h2></button>
            <p style="color:white;">____</p>
            <button class=@Cuadrado(3) type="submit" name="page" value="3"><h2>Reparaciones</h2></button>
        </div>
    </form>
    <aside>
        <button class="no">➕</button>
        <input type="text" placeholder="🔍buscar">
    </aside>
</nav>
@if (ViewBag.page == 1)
{

    @if (c)
    {
        <center class="add">
            <div>
                <div>
                    <h4>Agregar nueva instalación</h4>
                    <button class="no">✖️</button>
                </div>
                <form asp-controller="Installation" asp-action="Create">
                    <div>
                        <div>
                            <div>
                                <div>
                                    <h5>Id:</h5>
                                    <input type="number" name="installationid" />
                                </div>
                            </div>

                            <div>
                                <h5>Ubicación:</h5>
                            </div>

                            <select name="ubication">
                                @foreach (var x in new string[] { "Norte", "Sur", "Este", "Oeste", "Centro", "Noreste", "Noroeste", "Sureste", "Suroeste" })
                                {
                                    <option>Instalacion #@x</option>
                                }
                            </select>
                        </div>
                        <div>
                            <div>
                                <h5>Nombre (Opcional):</h5>
                            </div>
                            <input type="text" name="name">
                        </div>
                    </div>
                    <div style="justify-content:center;">
                        <h5>Tipo:</h5>
                        <input type="text" name="type">
                    </div>
                    <div>
                        <button class="boton" type="submit">Crear</button>
                    </div>
                </form>
                @if (ViewBag.lugar_del_error == 1)
                {
                    <aside class="error">
                        ViewBag.error
                    </aside>
                }
            </div>
        </center>
    }
    <div class="ofertas">
        @foreach (InstallationDTO inst in ViewBag.installations)
        {
            @if (!a)
            {
                <div>
                    <div>
                        <div>
                            <strong>Instalación #@Html.DisplayFor(m=>inst.InstallationID)</strong>
                        </div>
                        <div>
                            <strong>Ubicación:</strong> @Html.DisplayFor(m=>inst.Ubication)
                        </div>
                        @if (b)
                        {
                            <div>
                                <strong>Nombre:</strong> @Html.DisplayFor(m=>inst.Name)
                            </div>
                            <div>
                                <strong>Tipo:</strong> @Html.DisplayFor(m=>inst.Type)
                            </div>
                            <center>
                                <button class="boton" style="background-color:rgb(20,150,20)">Editar</button>
                            </center>
                        }
                        @if (!b)
                        {
                            <form method="post">
                                <div>
                                    <strong>Nombre:</strong> <input name="newName" value="no tiene">
                                </div>
                                <div>
                                    <strong>Tipo:</strong> <input name="newType" value="Oficina">
                                </div>
                                <center>
                                    <button class="boton" type="submit" style="background-color:rgb(20,150,20)">Enviar</button>
                                    <button class="boton" style="background-color:rgb(175,10,10)">Volver</button>

                                    <button class="boton" style="background-color:rgb(165,5,5)">Eliminar</button>
                                </center>
                            </form>
                        }
                        <center>
                            <button class="boton">Servicios</button>
                            <button class="boton">Reparaciones</button>
                        </center>
                    </div>
                </div>
            }
            @if (a)
            {
                <div style="display:block;">
                    <div>
                        <h3>¿Desea eliminarlo?</h3>
                    </div>
                    <form method="post">
                        <center>
                            <button type="submit" class="boton" style="background-color:rgb(20,150,20)">SI</button>
                            <button class="boton" style="background-color:rgb(175,10,10)">NO</button>
                        </center>
                    </form>
                </div>
            }
        }
    </div>

}

@if (ViewBag.page == 2)
{
    @if (a && b)
    {
        <center class="add">
            <div>
                <div>
                    <h4>Agregar nuevo servicio</h4>
                    <button class="no">✖️</button>
                </div>
                <form asp-controller="ServiceInstallation" asp-action="Create">
                    <div>
                        <div>
                            <div>
                                <h5>Instalación:</h5>
                            </div>

                            <div>
                                <select name="InstallationID" asp-items="ViewBag.installations"></select>
                            </div>
                        </div>
                        <div>
                            <div>
                                <h5>Nombre:</h5>
                            </div>
                            <input type="text" name="name">
                        </div>
                    </div>
                    <div style="justify-content:center;">
                        <h5>Precio: $</h5>
                        <input type="number" name="price">
                        <button class="boton" type="submit">Crear</button>
                    </div>
                </form>
                @if (ViewBag.lugar_del_error == 2)
                {
                    <aside class="error">
                        @ViewBag.error
                    </aside>
                }
            </div>
        </center>

    }
    <div class="ofertas">
        @foreach (ServiceInstallationDTO service in ViewBag.services)
        {
            @if (a)
            {
                <div style="display:block">
                    <div style="display:flex;">
                        <div>
                            <div>
                                @Html.DisplayFor(m=>service.Name)
                            </div>
                            <div>
                                Instalacion #@Html.DisplayFor(m=>service.InstallationID)
                            </div>
                        </div>
                        <aside>
                            <div>
                                <h3>$@Html.DisplayFor(m=>service.Price)/h</h3>
                            </div>
                            <div>
                                ⭐⭐⭐⭐⭐
                            </div>
                        </aside>
                    </div>
                    <div style="margin-top:2%;">
                        <button class="boton">Cambiar precio</button>
                        <button class="boton" style="background-color:rgb(175,10,10)">Eliminar</button>
                        <button class="boton">Ver reseñas</button>
                    </div>
                </div>
            }
            @if (!a && b)
            {
                <div style="display:block;">
                    <div>
                        <h3>Nuevo precio del servicio:</h3>
                    </div>
                    <form method="post">
                        <center>
                            $
                            <input type="number" name="newPrice">
                        </center>
                        <center>
                            <button type="submit" class="boton" style="background-color:rgb(20,150,20)">Cambiar</button>
                            <button class="boton" style="background-color:rgb(175,10,10)">Volver</button>
                        </center>
                    </form>
                </div>
            }
            @if (!a && !b)
            {
                <div style="display:block;">
                    <div>
                        <h3>¿Desea eliminarlo?</h3>
                    </div>
                    <form method="post">
                        <center>
                            <button type="submit" class="boton" style="background-color:rgb(20,150,20)">SI</button>
                            <button class="boton" style="background-color:rgb(175,10,10)">NO</button>
                        </center>
                    </form>
                </div>
            }
        }
    </div>
}

@if (ViewBag.page == 3)
{
    @if (a && b)
    {
        <center class="add">
            <div>
                <div>
                    <h4>Agregar nueva reparación</h4>
                    <button class="no">✖️</button>
                </div>
                <form asp-controller="RepairInstallation" asp-action="Create">
                    <div>
                        <div>
                            <div>
                                <h5>Instalación:</h5>
                            </div>

                            <div>
                                <select name="InstallationID" asp-items="ViewBag.installations"></select>
                            </div>
                        </div>
                        <div>
                            <div>
                                <h5>Reparación:</h5>
                            </div>
                            <div>
                                <select name="RepairID" asp-items="ViewBag.rep"></select>
                            </div>
                        </div>
                    </div>
                    <div style="justify-content:center;">
                        <h5>Precio: $</h5>
                        <input type="number" name="price">
                        <button class="boton" type="submit">Crear</button>
                    </div>
                </form>
                @if (ViewBag.lugar_del_error == 3)
                {
                    <aside class="error">
                        @ViewBag.error
                    </aside>
                }
            </div>
        </center>

    }
    <div class="ofertas">

        @foreach (RepairInstallationDTO repair in ViewBag.repairs)
        {
            @if (a)
            {
                <div style="display:block">
                    <div style="display:flex;justify-content:space-between;">
                        <div>
                            <div>
                                @Html.DisplayFor(m=>repair.Name)
                            </div>
                            <div>
                                Instalacion #@Html.DisplayFor(m=>repair.InstallationID)
                            </div>
                        </div>
                        <aside>
                            <div>
                                <h3>$@Html.DisplayFor(m=>repair.Price)/h</h3>
                            </div>
                            <div>
                                ⭐⭐⭐⭐⭐
                            </div>
                        </aside>
                    </div>
                    <div style="margin-top:2%;">
                        <button class="boton">Cambiar precio</button>
                        <button class="boton" style="background-color:rgb(175,10,10)">Eliminar</button>
                        <button class="boton">Ver reseñas</button>
                    </div>
                </div>
            }
            @if (!a && b)
            {
                <div style="display:block;">
                    <div>
                        <h3>Nuevo precio por hora:</h3>
                    </div>
                    <form method="post">
                        <center>
                            $
                            <input type="number" name="newPrice">
                            /h
                        </center>
                        <center>
                            <button type="submit" class="boton" style="background-color:rgb(20,150,20)">Cambiar</button>
                            <button class="boton" style="background-color:rgb(175,10,10)">Volver</button>
                        </center>
                    </form>
                </div>
            }
            @if (!a && !b)
            {
                <div style="display:block;">
                    <div>
                        <h3>¿Desea eliminarlo?</h3>
                    </div>
                    <form method="post">
                        <center>
                            <button type="submit" class="boton" style="background-color:rgb(20,150,20)">SI</button>
                            <button class="boton" style="background-color:rgb(175,10,10)">NO</button>
                        </center>
                    </form>
                </div>
            }
        }
    </div>
}
