@{
    ViewData["Title"] = "Home Page";
    On_siteDTO service = new();
    if (ViewBag.service != null)
    {
       service  = ViewBag.service;
    }
    ServiceInstallationDTO serviceInst = new();
    if (ViewBag.serviceInst != null)
    {
       serviceInst  = ViewBag.serviceInst;
    }
    RepairInstallationDTO repairInst = new();
    if (ViewBag.repairInst != null)
    {
       repairInst  = ViewBag.repairInst;
    }
    ShipsDTO ship = new();
    if (ViewBag.ship != null)
    {
       ship  = ViewBag.ship;
    }
    bool a = true;
    bool b = true;
    bool check = true;
    bool[] sol = new bool[] { true, true, true };
    string Calificacion(int val)
    //ponerlo en funcion de la calificacion
    {
        string cal = "";
        for (int i = 0; i < val / 2; i++)
            cal += "⭐";
        if (val % 2 == 1)
            cal += "🌗";
        for (int i = 0; i < (10 - val) / 2; i++)
            cal += "🌑";
        return cal;

    }
}


<header>
    AIRCOM
</header>

<nav>
    @if (a)
    {
        <h4>USUARIO</h4>
    }

    @if (!a)
    {
        <h4>AEROPUERTO > USUARIO</h4>
    }
    <div><button class="boton" style="background-color:crimson">← Volver</button></div>
</nav>

@if (ViewBag.page == 1)
{
    <div class="calificar">
        <form asp-controller="On_site" asp-action="Valorate">
            <input name="id" value="@Html.DisplayFor(m=>service.ID)">
            <center><h1>Comentar</h1></center>
            <div>
                <div>
                    <strong>Fecha del servicio:</strong>
                    <input type="date" name="Fecha" />
                </div>

                @if (check)
                {
                    <aside class="error">
                        No se le oferto el servicio en esta fecha
                    </aside>
                }
                <div>
                    <strong>Calificación:</strong>
                    <input type="number" name="stars" max="10" min="0" style="width:75px" />
                </div>
            </div>
            <section>
                <div>
                    <textarea name="comment" placeholder="Introduzca aqui su comentario"></textarea>
                </div>
            </section>
            <center><button type="submit" class="boton"><h4>Enviar Comentario</h4></button></center>
        </form>
    </div>

}

@if (ViewBag.page == 2)
{
    <center>
        <h3>Servicio: @Html.DisplayFor(m=>serviceInst.Name)</h3>
    </center>
    <div style="display:flex;justify-content:space-around;">
        <div>Aeropuerto: @ViewBag.airport</div>
        <div>Instalacion @Html.DisplayFor(m=>serviceInst.InstallationID)</div>
        <div>Precio: $@Html.DisplayFor(m=>serviceInst.Price)</div>
        <div>Calificación: @Calificacion((int)serviceInst.Stars)</div>
    </div>

    @foreach (On_siteDTO serv in serviceInst.On_sites)
    {
        <section class="dataToShow" style="font-size:x-large">
            <div>
                <div>Fecha: @Html.DisplayFor(m=>serv.Fecha)</div>
                <div>Usuario: @Html.DisplayFor(m=>serv.Name)</div>
            </div>
            <div>
                <div style="flex:none;">@Calificacion((int)serv.Stars)</div>
                <div style="background-color:lightgrey; padding:0.5%; border:solid;font-size:medium;">
                    <details>
                        <summary><strong>Leer Comentario: </strong></summary>
                        @Html.DisplayFor(m=>serv.Comment)
                    </details>
                </div>
            </div>

        </section>
    }
}

@if (ViewBag.page == 3)
{
    <center>
        <h3>Historial de reparaciones: @Html.DisplayFor(m=>repairInst.Name)</h3>
    </center>
    <div style="display:flex;justify-content:space-around;">
        <div>Aeropuerto: Jose Marti</div>
        <div>Instalacion #@Html.DisplayFor(m=>repairInst.InstallationID)</div>
        <div>Precio: $@Html.DisplayFor(m=>repairInst.Price)/h</div>
        <div>Calificación: @Calificacion((int)repairInst.Stars)</div>
    </div>

    @foreach (RepairShipDTO rep in repairInst.RepairShips)
    {
        <section class="dataToShow" style="font-size:x-large">
            <div style="display: flex;">
                <div>Matricula: @Html.DisplayFor(m=>rep.Plate)</div>
                <div>Estado: @Html.DisplayFor(m=>rep.State)</div>
                <div>tipo: @Html.DisplayFor(m=>rep.Name)</div>
            </div>
            <div>
                <div>Inicio: @Html.DisplayFor(m=>rep.Init)</div>
                <div>Terminación: @Html.DisplayFor(m=>rep.Finish)</div>
                <div>Costo: $@Html.DisplayFor(m=>rep.Price)</div>
            </div>
            @if (b)
            {
                <div>
                    <div style="flex:none;">@Calificacion((int)rep.Stars)</div>
                    <div style="background-color:lightgrey; padding:0.5%; border:solid;font-size:medium;">
                        <details>
                            <summary><strong>Leer Comentario: </strong></summary>
                            @Html.DisplayFor(m=>rep.Comment)
                        </details>
                    </div>
                </div>
            }
            @if (!b)
            {
                <center>
                    <h3>No hay comentario</h3>
                </center>
            }

        </section>
    }
}

@if (ViewBag.page == 4)
{
    <center>
        <h3>Historial de reparaciones: @Html.DisplayFor(m=>ship.Plate)</h3>
    </center>

    @foreach (RepairShipDTO report in ship.Reports)
    {
        <section class="dataToShow" style="font-size:x-large">
            <div style="display: flex;">
                <div>Aeropuerto: Jose Marti</div>
                <div>Estado: @Html.DisplayFor(m=>report.State)</div>
                <div>tipo: @Html.DisplayFor(m=>report.Name)</div>
            </div>
            <div>
                <div>Inicio: @Html.DisplayFor(m=>report.Init)</div>
                <div>Terminación: @Html.DisplayFor(m=>report.Finish)</div>
                <div>Costo: $@Html.DisplayFor(m=>report.Price)</div>
            </div>
            @if (b)
            {
                <div>
                    <div style="flex:none;">@Calificacion((int)report.Stars)</div>
                    <div style="background-color:lightgrey; padding:0.5%; border:solid;font-size:medium;">
                        <details>
                            <summary><strong>Leer Comentario: </strong></summary>
                            @Html.DisplayFor(m=>report.Comment)
                        </details>
                    </div>
                    <button class="boton" style="align-self:center;">Editar</button>
                </div>
            }
            @if (!b)
            {
                <center style="display:flex;justify-content:space-around;">
                    <h3>No hay comentario</h3>
                    <button class="boton">Comentar</button>
                </center>
            }
        </section>
    }
}

@if (ViewBag.page == 5)
{
    <center>
        <h3>Historial de vuelo: Matricula 121312</h3>
        <table>
            @*Aqui modificar la cabecera para poder filtrar y ordenar la informacion*@
            <thead>
                <tr>
                    <th>
                        <center>
                            Tipo
                            <button class="no">🔽</button>
                        </center>
                    </th>
                    <th>
                        <center>
                            Fecha
                            <button class="no">🔽</button>
                        </center>
                    </th>
                    <th>
                        <center>
                            Aeropuerto
                            <button class="no">🔽</button>
                        </center>
                    </th>
                    <th>
                        <center>
                            Rol del Dueño
                            <button class="no">🔽</button>
                        </center>
                    </th>
                    <th>
                        <center>
                            Estado de la nave
                            <button class="no">🔽</button>
                        </center>
                    </th>
                </tr>
                <tr>
                    <td>
                        <input type="text" placeholder="🔍filtrar">
                    </td>
                    <td>
                        <input type="text" placeholder="🔍filtrar">
                    </td>
                    <td>
                        <input type="text" placeholder="🔍filtrar">
                    </td>
                    <td>
                        <input type="text" placeholder="🔍filtrar">
                    </td>
                    <td>
                        <input type="text" placeholder="🔍filtrar">
                    </td>
                </tr>
            </thead>
            @*Aqui modificar el cuerpo para ajustarlo a los datos*@
            <tbody>
                @foreach (var solicitud in sol)
                {
                    <tr>
                        <td><center>Salida</center></td>
                        <td><center>06/10/2023</center></td>
                        <td><center>Jose Marti</center></td>
                        <td><center>Capitán</center></td>
                        <td><center>BIEN</center></td>
                    </tr>
                }
            </tbody>
        </table>
    </center>
}