@{
    int[] sol = new int[] { 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1 };
    bool a = false;
    string Cuadrado(int x) => ViewBag.p == x ? "yes" : "no";
    string SeeMore() => a ? ("") : ("display:none;");
}


<header>
    AIRCOM
</header>

<nav>
    <h4>AEROPUERTO > USUARIO</h4>
    <form asp-controller="Security" asp-action="Index">
        <div>
            <div><button class=@Cuadrado(1) type="submit" name="page" value="1">🕑</button></div>
            <div><button class=@Cuadrado(2) type="submit" name="page" value="2">✈️</button></div>
            <div><button class=@Cuadrado(3) type="submit" name="page" value="3">👨‍💼</button></div>
            <div><button class=@Cuadrado(4) type="submit" name="page" value="4">➕</button></div>
        </div>
    </form>
</nav>

@if (ViewBag.p == 1)
{
    <center>
        <h1>Historial</h1>
        <table>
            <tr>
                <th>
                    <center>
                        Fecha de arribo
                        <button class="no">🔽</button>
                    </center>
                </th>
                <th>
                    <center>
                        Matrícula
                        <button class="no">🔽</button>
                    </center>
                </th>
                <th>
                    <center>
                        Rol del Dueño
                        <button class="no">🔽</button>
                    </center>
                </th>
                <th>
                    <center>
                        Estado de la nave
                        <button class="no">🔽</button>
                    </center>
                </th>
                <th>
                    <center>
                        Próximo vuelo
                        <button class="no">🔽</button>
                    </center>
                </th>
            </tr>
            <tr>
                <td>
                    <input type="text" placeholder="🔍filtrar">
                </td>
                <td>
                    <input type="text" placeholder="🔍filtrar">
                </td>
                <td>
                    <input type="text" placeholder="🔍filtrar">
                </td>
                <td>
                    <input type="text" placeholder="🔍filtrar">
                </td>
                <td>
                    <input type="text" placeholder="🔍filtrar">
                </td>
            </tr>
            @foreach (var solicitud in sol.Take(10))
            {
                <tr>
                    <td><center>06/10/2023</center></td>
                    <td><center>251615</center></td>
                    <td><center>Capitán</center></td>
                    <td><center>BIEN</center></td>
                    <td><center>06/01/2024</center></td>
                </tr>
            }
            @foreach (var solicitud in sol.Skip(10))
            {
                <tr style=@SeeMore()>
                    <td><center>06/10/2023</center></td>
                    <td><center>251615</center></td>
                    <td><center>Capitán</center></td>
                    <td><center>BIEN</center></td>
                    <td><center>06/01/2024</center></td>
                </tr>
            }
        </table>
        @if (ViewBag.a == 1)
        {
            <button class="boton">🔽 Ver el resto de los registros 🔽</button>
        }
    </center>
}

@if (ViewBag.p == 2)
{

    <div style="display:flex;justify-content:space-between; margin:0% 2%; align-items:center;">
        <div><h1>Aviones en el aeropuerto</h1></div>
        <div><input type="text" placeholder="🔍buscar"></div>
    </div>
    @foreach (ShipsDTO ship in ViewBag.ships)
    {
        <section class="dataToShow">
            <div style="display: flex;">
                <div>Matricula: @Html.DisplayFor(m=>ship.Plate)</div>
                <div>Estado: @Html.DisplayFor(m=>ship.State)</div>
                <div>ID Propietario: @Html.DisplayFor(m=>ship.ClientID)</div>

            </div>

            <div class="tag">
                <aside>
                    <div><h4>Características:</h4></div>
                    <div><strong>Modelo:</strong> @Html.DisplayFor(m=>ship.Model)</div>
                    <div><strong>Capacidad de carga:</strong> @Html.DisplayFor(m=>ship.Crew)</div>
                    <div><strong>Cantidad de tripulantes:</strong> @Html.DisplayFor(m=>ship.Capacity)</div>
                    <div><strong>Cantidad de pasajeros:</strong> @Html.DisplayFor(m=>ship.Pass)</div>
                </aside>
                <div>
                    <div>Fecha de salida programada:</div>
                    <div>1/12/2024</div>
                    <form method="post">
                        <button class="boton" type="submit">
                            Ver historial
                        </button>
                        <button class="boton" type="submit">
                            Solicitar reparación
                        </button>
                    </form>
                </div>
            </div>
        </section>
    }
}

@if (ViewBag.p == 3)
{
    <center>
        <h1>Personas</h1>
        <table>
            <tr>
                <th>
                    <center>
                        Rol
                        <button class="no">🔽</button>
                    </center>
                </th>
                <th>
                    <center>
                        Carnet de Identidad
                        <button class="no">🔽</button>
                    </center>
                </th>
                <th>
                    <center>
                        Nombre
                        <button class="no">🔽</button>
                    </center>
                </th>
                <th>
                    <center>
                        Nacionalidad
                        <button class="no">🔽</button>
                    </center>
                </th>
                <th>
                    <center>
                        Tipo
                        <button class="no">🔽</button>
                    </center>
                </th>
            </tr>
            <tr>
                <td>
                    <input type="text" placeholder="🔍filtrar">
                </td>
                <td>
                    <input type="text" placeholder="🔍filtrar">
                </td>
                <td>
                    <input type="text" placeholder="🔍filtrar">
                </td>
                <td>
                    <input type="text" placeholder="🔍filtrar">
                </td>
                <td>
                    <input type="text" placeholder="🔍filtrar">
                </td>
            </tr>
            @foreach (ClientDTO client in ViewBag.clients)
            {
                <tr>
                    <td>@Html.DisplayFor(m=>client.Type)</td>
                    <td>@Html.DisplayFor(m=>client.CI)</td>
                    <td>@Html.DisplayFor(m=>client.Name)</td>
                    <td>@Html.DisplayFor(m=>client.Nationality)</td>
                    <td>@Html.DisplayFor(m=>client.Type)</td>
                </tr>
            }
            @if (ViewBag.a == 2)
            {
                @foreach (var solicitud in sol.Skip(10))
                {
                    <tr style=@SeeMore()>
                        <td><center>Cliente</center></td>
                        <td><center>63122511615</center></td>
                        <td><center>Alan Brito Prieto</center></td>
                        <td><center>Cuba</center></td>
                        <td><center>VIP</center></td>
                    </tr>
                }
            }
        </table>
        @if (ViewBag.a == 3)
        {
            <button class="boton">🔽 Ver el resto de los registros 🔽</button>
        }

    </center>
}

@if (ViewBag.p == 4)
{
    <section>
        <details>
            <summary>Añadir Cliente</summary>
            <center>
                <form asp-controller="Client" asp-action="Create" class="formulario">
                    <table>
                        <tr>
                            <td>nombre: </td>
                            <td><input type="text" name='name'></td>
                        </tr>
                        <tr>
                            <td>Carnet de identidad: </td>
                            <td><input type="text" name='ci'></td>
                        </tr>
                        <tr>
                            <td>Nacionalidad: </td>
                            <td><input type="text" name='nationality'></td>
                        </tr>
                        <td>Tipo de cliente: </td>
                        <td>
                            <select name='type'>
                                @foreach (var item in sol)
                                {
                                    <option>VIP</option>
                                }
                            </select>
                        </td>
                        <tr>
                            <td>Correo: </td>
                            <td><input type="email" name='email'></td>
                        </tr>
                        <tr>
                            <td>Contraseña: </td>
                            <td><input type="password" name='pwd'></td>
                        </tr>
                        <tr>
                            <td>Comprobar contraseña: </td>
                            <td><input type="password"></td>
                        </tr>
                    </table>
                    @if (ViewBag.a == 4)
                    {
                        <aside class="error">
                            @ViewBag.error
                        </aside>
                    }
                    <button class="boton">Enviar</button>
                </form>
            </center>
        </details>
        <details>
            <summary>Añadir Trabajador</summary>
            <center>
                <form class="formulario" asp-controller="Client" asp-action="Create">
                    <table>
                        <tr>
                            <td>nombre: </td>
                            <td><input type="text" name='name'></td>
                        </tr>
                        <tr>
                            <td>Carnet de identidad: </td>
                            <td><input type="text" name='ci'></td>
                        </tr>
                        <tr>
                            <td><input type="text" name='nationality' value='Cuba' hidden></td>
                        </tr>
                        <tr>
                            <td>Puesto: </td>
                            <td>
                                <select name='type'>
                                    <option>Seguridad</option>
                                    <option>Direccion</option>
                                    <option>Mecanico</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Correo: </td>
                            <td><input type="email" name='email'></td>
                        </tr>
                        <tr>
                            <td>Contraseña: </td>
                            <td><input type="password" name='pwd'></td>
                        </tr>
                        <tr>
                            <td>Comprobar contraseña: </td>
                            <td><input type="password"></td>
                        </tr>
                    </table>
                    @if (ViewBag.a == 5)
                    {
                        <aside class="error">
                            @ViewBag.error
                        </aside>
                    }
                    <button class="boton">Enviar</button>
                </form>
            </center>
        </details>
        <details>
            <summary>Añadir Nave</summary>
            <center>
                <form asp-controller="Ships" asp-action="Create" class="formulario">
                    <table>
                        <tr>
                            <td><input type="text" name="state" value="Óptimo" hidden></td>
                        </tr>
                        <tr>
                            <td>Matricula: </td>
                            <td><input type="text" name="plate"></td>
                        </tr>
                        <tr>
                            <td>ID Dueño(opcional): </td>
                            <td><input type="text" name="clientid"></td>
                        </tr>
                        <tr>
                            <td>Modelo: </td>
                            <td><input type="text" name="model"></td>
                        </tr>
                        <tr>
                            <td>Capacidad de carga: </td>
                            <td><input type="text" name="crew"></td>
                        </tr>
                        <tr>
                            <td>Cantidad de tripulacion: </td>
                            <td><input type="text" name="capacity"></td>
                        </tr>
                        <tr>
                            <td>Cantidad de pasajeros: </td>
                            <td><input type="text" name="pass"></td>
                        </tr>
                    </table>
                    @if (ViewBag.a == 6)
                    {
                        <aside class="error">
                            @ViewBag.error
                        </aside>
                    }
                    <button class="boton">Enviar</button>
                </form>
            </center>
        </details>
        <details>
            <summary>Solicitar Reparación</summary>
            <center>
                <form asp-controller="RepairShip" asp-action="RequestRepair" class="formulario">
                    <table>
                        <tr>
                            <td>Matricula: </td>
                            <td><input type="text" name="plate"></td>
                        </tr>
                        <tr>
                            <td>Instalación de la reparación </td>
                            <td>
                                <select name="ID" asp-items="ViewBag.installations"></select>
                            </td>
                        </tr>
                        <tr>
                            <td>Tipo de reparación: </td>
                            <td>
                                <select name="RepairID" asp-items="ViewBag.repairs"></select>
                            </td>
                        </tr>
                    </table>
                    @if (ViewBag.a == 7)
                    {
                        <aside class="error">
                            @ViewBag.error
                        </aside>
                    }
                    <button class="boton">Enviar</button>
                </form>
            </center>
        </details>
        <details>
            <summary>Registrar Arribo</summary>
            <center>
                <form class="formulario">
                    <table>
                        <tr>
                            <td>Matricula: </td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                            <td>Rol del dueño:</td>
                            <td>
                                <select>
                                    @foreach (var item in sol)
                                    {
                                        <option>Capitan</option>
                                    }
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Estado de la nave: </td>
                            <td>
                                <select>
                                    @foreach (var item in sol)
                                    {
                                        <option>Reparacion capital</option>
                                    }
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Proximo vuelo: </td>
                            <td><input type="date"></td>
                        </tr>
                    </table>
                    @if (ViewBag.a == 8)
                    {
                        <aside class="error">
                            @ViewBag.error
                        </aside>
                    }
                    <button class="boton">Enviar</button>
                </form>
            </center>
        </details>
        <details style="background-color:lightgrey">
            <summary>Editar informacion de cliente o trabajador</summary>
            <center>
                <form class="formulario">
                    <table>
                        <tr>
                            <td>Carnet de identidad: </td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                            <td>Cambiar Contraseña: </td>
                            <td><input type="password"></td>
                        </tr>
                        <tr>
                            <td>Comprobar contraseña: </td>
                            <td><input type="password"></td>
                        </tr>
                    </table>
                    @if (ViewBag.a == 9)
                    {
                        <aside class="error">
                            @ViewBag.error
                        </aside>
                    }
                    <button class="boton">Cambiar Contraseña</button>
                    <button class="boton" style="background-color:rgb(165,5,5)">Eliminar usuario</button>
                </form>
            </center>
        </details>
    </section>
}
