@*CAMBIAR AEROPUERTO>USUARIO*@
@*PEDIR TIPO DE VUELO (Salida/Llegada)*@
@*Dejar de pedir fecha de salida*@

<header>
    AIRCOM
</header>

<nav>
    <h4>AEROPUERTO > USUARIO</h4>
        <form asp-controller="Security" asp-action="Index">
        <div>
            <div><button class="yes" type="submit" name="page" value="1">🕑</button></div>
            <div><button class="no" type="submit" name="page" value="2">✈️</button></div>
            <div><button class="no" type="submit" name="page" value="3">👨‍💼</button></div>
            <div><button class="no" type="submit" name="page" value="4">➕</button></div>
            <button class="badboton">📴</button>
        </div>
    </form>
</nav>

<center>
    <h1>Historial</h1>
    <table>
        <thead>
            <tr>
                <th>
                        <center>
                            Tipo
                            <button class="no">🔽</button>
                        </center>
                    </th>
                <th>
                    <center>
                        Fecha
                        <button class="no">🔽</button>
                    </center>
                </th>
                <th>
                    <center>
                        Matrícula
                        <button class="no">🔽</button>
                    </center>
                </th>
                <th>
                    <center>
                        Rol del Dueño
                        <button class="no">🔽</button>
                    </center>
                </th>
                <th>
                    <center>
                        Estado de la nave
                        <button class="no">🔽</button>
                    </center>
                </th>
                <th>
                    <center>
                        Editar
                    </center>
                </th>
            </tr>
            <tr>
                <td>
                    <input type="text" placeholder="🔍filtrar">
                </td>
                <td>
                    <input type="text" placeholder="🔍filtrar">
                </td>
                <td>
                    <input type="text" placeholder="🔍filtrar">
                </td>
                <td>
                    <input type="text" placeholder="🔍filtrar">
                </td>
                <td>
                    <input type="text" placeholder="🔍filtrar">
                </td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (HistoryDTO hist in ViewBag.historys)
            {
                <tr>
                    @if (hist.ArrivalDate != null)
                    {
                        <td><center>Entrada</center></td>
                        <td><center>@Html.DisplayFor(m=>hist.ArrivalDate.ToString().Split()[0])</center></td>
                    }
                    @if (hist.ExitDate != null)
                    {
                        <td><center>Salida</center></td>
                        <td><center>@Html.DisplayFor(m=>hist.ExitDate.ToString().Split()[0])</center></td>
                    }
                    <td><center>@Html.DisplayFor(m=>hist.Plate)</center></td>
                    <td><center>@Html.DisplayFor(m=>hist.OwnerRole)</center></td>
                    <td><center>@Html.DisplayFor(m=>hist.Ships.State)</center></td>

                    <td><center>⚙️</center></td>
                </tr>
            }
        </tbody>
    </table>
</center>
