@*CAMBIAR AEROPUERTO>USUARIO*@
@*PEDIR TIPO DE VUELO (Salida/Llegada)*@
@*Dejar de pedir fecha de salida*@

<header>
    AIRCOM
</header>

<nav>
    <h4>AEROPUERTO > USUARIO</h4>
        <form asp-controller="Security" asp-action="Index">
        <div>
            <div><button class="yes" type="submit" name="page" value="1">🕑</button></div>
            <div><button class="no" type="submit" name="page" value="2">✈️</button></div>
            <div><button class="no" type="submit" name="page" value="3">👨‍💼</button></div>
            <div><button class="no" type="submit" name="page" value="4">➕</button></div>
            <button method="get" asp-controller="Home" asp-action="Index" name="deleteCookie" value="true" class="badboton">📴</button>
        </div>
    </form>
</nav>

<center>
    <h1>Historial</h1>
    <table>
        <thead>
            <tr>
                <th onclick="sortTable(0, 'str')">
                        <center>
                            Tipo
                            <button class="no">🔽</button>
                        </center>
                    </th>
                <th onclick="sortTable(1, 'str')">
                    <center>
                        Fecha
                        <button class="no">🔽</button>
                    </center>
                </th>
                <th onclick="sortTable(2, 'str')">
                    <center>
                        Matrícula
                        <button class="no">🔽</button>
                    </center>
                </th>
                <th onclick="sortTable(3, 'str')">
                    <center>
                        Rol del Dueño
                        <button class="no">🔽</button>
                    </center>
                </th>
                <th onclick="sortTable(4, 'str')">
                    <center>
                        Estado de la nave
                        <button class="no">🔽</button>
                    </center>
                </th>
                <th>
                    <center>
                        Editar
                    </center>
                </th>
            </tr>
            <tr>
                <td>
                    <input type="text" placeholder="🔍filtrar">
                </td>
                <td>
                    <input type="text" placeholder="🔍filtrar">
                </td>
                <td>
                    <input type="text" placeholder="🔍filtrar">
                </td>
                <td>
                    <input type="text" placeholder="🔍filtrar">
                </td>
                <td>
                    <input type="text" placeholder="🔍filtrar">
                </td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (HistoryDTO hist in ViewBag.historys)
            {
                <tr id=@hist.ID>
                    @if (hist.ArrivalDate != null)
                    {
                        <td><center>Entrada</center></td>
                        <td><center>@Html.DisplayFor(m=>hist.ArrivalDate.ToString().Split()[0])</center></td>
                    }
                    @if (hist.ExitDate != null)
                    {
                        <td><center>Salida</center></td>
                        <td><center>@Html.DisplayFor(m=>hist.ExitDate.ToString().Split()[0])</center></td>
                    }
                    <td><center>@Html.DisplayFor(m=>hist.Plate)</center></td>
                    <td><center>@Html.DisplayFor(m=>hist.OwnerRole)</center></td>
                    <td><center>@Html.DisplayFor(m=>hist.Ships.State)</center></td>

                    <td onclick="swap(@hist.ID,true,'table-row')"><center>⚙️</center></td>
                </tr>
                <tr id=@("a"+hist.ID) style="display:none">
                    <form>
                        <td><center>

                            <select name="InOrOut">
                                @if (hist.ArrivalDate != null)
                                {
                                    <option><center>Entrada</center></option>
                                    <option><center>Salida</center></option>
                                }
                                @if (hist.ExitDate != null)
                                {
                                    <option><center>Entrada</center></option>
                                    <option><center>Salida</center></option>
                                }
                            </select>
                        </center></td>
                        <td><center><input type="date" name="date"/></center></td>
                        <td><center><input type="text" name="Plate" value="@Html.DisplayFor(m=>hist.Plate)" /></center></td>
                        <td><center>
                            <select name="OwnerRole">
                                @{
                                    string[] Roles = {"","Capitán","Pasajero","Copiloto"};
                                }
                                @foreach(var k in Roles)
                                {
                                    <option value=@k>@k</option>
                                }
                            </select>
                        </center></td>
                        <td><center>
                            <select name="State">
                                <option value=@hist.Ships.State>@hist.Ships.State</option>
                                @{
                                    string[] states = new string[] { "Óptimo", "Bien", "Regular", "Mal", "Pésimo" };
                                }
                                @foreach(var k in states.Where(a=>a!=hist.Ships.State) )
                                {
                                    <option value=@k>@k</option>
                                }
                                </select>
                        </center></td>
                        <td>
                            <center>
                                <button type="submit" class="goodboton">✔️</button>
                                <button type="button" class="badboton" onclick="swap(@hist.ID,false,'table-row')">✖️</button>
                            </center>
                        </td>
                    </form>
                </tr>
            }
        </tbody>
    </table>
</center>
