@*CAMBIAR AEROPUERTO>USUARIO*@
@*ADAPTAR LOS NUEVOS FORMULARIOS*@

@{
    string[] open = new string[6];
    @if (ViewBag.lugar_del_error >= 4 && ViewBag.lugar_del_error <= 9)
    {
        open[ViewBag.lugar_del_error - 4] = "open";
    }
}

<header>
    AIRCOM
</header>

<nav>
    <h4> AEROPUERTO: @ViewBag.Aeropuerto > USUARIO: @ViewBag.Usuario</h4>
        <form asp-controller="Security" asp-action="Index">
        <div>
            <div><button class="no" type="submit" name="page" value="1">🕑</button></div>
            <div><button class="no" type="submit" name="page" value="2">✈️</button></div>
            <div><button class="no" type="submit" name="page" value="3">👨‍💼</button></div>
            <div><button class="yes" type="submit" name="page" value="4">➕</button></div>
            <button method="get" asp-controller="Home" asp-action="Index" name="deleteCookie" value="true" class="badboton">📴</button>
        </div>
    </form>
</nav>

@if (ViewBag.sucess != "")
{
    <div class="alert-success">@ViewBag.sucess</div>
}

<section>
    @*Agregar usuario*@
    <details @open[0]>
        <summary>Añadir Cliente</summary>
        <center>
            <form asp-controller="Client" asp-action="Create" class="formulario">
                <table>
                    <tr>
                        <td>nombre: </td>
                        <td><input type="text" name='name' placeholder="introduzca nombre" required></td>
                    </tr>
                    <tr>
                        <td>Dirección de correo: </td>
                        <td><input type="email" name="email" placeholder="correo electrónico" required></td>
                    </tr>
                    <tr>
                        <td>Carnet de identidad: </td>
                        <td><input type="text" name='ci' pattern="[0-9]{1,}" title="Debe ser numero" placeholder="introduzca ID" required></td>
                    </tr>
                    <tr>
                        <td>Nacionalidad: </td>
                        <td><input type="text" name='nationality' placeholder="introduzca el país" required></td>
                    </tr>
                    <tr>
                        <td>Tipo de cliente: </td>
                        <td>
                            <select name='type'>
                                <option value="VIP">VIP</option>
                                <option value="Dueño de naves">Dueño de naves</option>
                                <option value="Patrocinador">Patrocinador</option>
                                <option value="Empresa de viajes">Empresa de viajes</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Contraseña: </td>
                        <td><input type="password" name='pwd' placeholder="introduzca contraseña" required></td>
                    </tr>
                    <tr>
                        <td>Comprobar contraseña: </td>
                        <td><input type="password" name='pwd2' placeholder="repita contraseña" required></td>
                    </tr>
                </table>
                @if (ViewBag.lugar_del_error == 4)
                {
                    <aside class="error">
                        @ViewBag.error
                    </aside>
                }
                <button class="boton">Enviar</button>
            </form>
        </center>
    </details>

    @*Agregar trabajador*@
    <details @open[1]>
        <summary>Añadir Trabajador</summary>
        <center>
            <form class="formulario" asp-controller="Client" asp-action="Create">
                <table>
                    <tr>
                        <td>nombre: </td>
                        <td><input type="text" name='name' placeholder="introduzca nombre" required></td>
                    </tr>
                    <tr>
                        <td>Dirección de correo: </td>
                        <td><input type="email" name="email" placeholder="correo electrónico" required></td>
                    </tr>
                    <tr>
                        <td>Carnet de identidad: </td>
                        <td><input type="text" name='ci' pattern="[0-9]{1,}" title="Debe ser numero" placeholder="introduzca ID" required></td>
                    </tr>
                    <tr>
                        <td><input type="text" name='nationality' value='Cuba' hidden></td>
                    </tr>
                    <tr>
                        <td>Puesto: </td>
                        <td>
                            <select name='type'>
                                <option>Seguridad</option>
                                <option>Dirección</option>
                                <option>Mecánico</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Contraseña: </td>
                        <td><input type="password" name='pwd' placeholder="introduzca contraseña" required></td>
                    </tr>
                    <tr>
                        <td>Comprobar contraseña: </td>
                        <td><input type="password" name='pwd2' placeholder="repita contraseña" required></td>
                    </tr>
                </table>
                @if (ViewBag.lugar_del_error == 5)
                {
                    <aside class="error">
                        @ViewBag.error
                    </aside>
                }
                <button class="boton">Enviar</button>
            </form>
        </center>
    </details>
    
    @*Agregar Nave*@
    <details @open[2]>
        <summary>Añadir Nave</summary>
        <center>
            <form asp-controller="Ships" asp-action="Create" class="formulario">
                <table>
                    <tr>
                        <td><input type="text" name="state" value="Óptimo" hidden></td>
                    </tr>
                    <tr>
                        <td>Matrícula: </td>
                        <td><input type="text" name="plate" placeholder="Introduzca Matrícula" required></td>
                    </tr>
                    <tr>
                        <td>ID Dueño(opcional): </td>
                        <td><input type="text" name="clientid" pattern="[0-9]{1,}" placeholder="introduzca ID"></td>
                    </tr>
                    <tr>
                        <td>Modelo: </td>
                        <td><input type="text" name="model" placeholder="Introduzca Modelo" required></td>
                    </tr>
                    <tr>
                        <td>Capacidad de carga (en toneladas): </td>
                        <td><input type="number" name="crew" min="0" placeholder="Introduzca Capacidad" required></td>
                    </tr>
                    <tr>
                        <td>Cantidad de tripulación: </td>
                        <td><input type="number" name="capacity" placeholder="Introduzca Tripulación" min="0" required></td>
                    </tr>
                    <tr>
                        <td>Cantidad de pasajeros: </td>
                        <td><input type="number" name="pass" min="0" placeholder="Introduzca cantidad" required></td>
                    </tr>
                </table>
                @if (ViewBag.lugar_del_error == 6)
                {
                    <aside class="error">
                        @ViewBag.error
                    </aside>
                }
                <button class="boton">Enviar</button>
            </form>
        </center>
    </details>
    
    @*Registrar Arribo*@
    <details @open[4]>
        <summary>Registrar Arribo</summary>
        <center>
            <form asp-controller="History" asp-action="Create" class="formulario">
                <table>
                    <tr>
                        <td>Matrícula: </td>
                        <td><input type="text" name="plate" placeholder="Introduzca Matrícula" required></td>
                    </tr>
                    <tr>
                        <td>Rol del dueño:</td>
                        <td>
                            <select name="ownerRole">
                                <option>Ninguno</option>
                                <option>Capitán</option>
                                <option>Pasajero</option>
                                <option>Copiloto</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Estado de la nave: </td>
                        <td>
                            <select name="state">
                                <option>Óptimo</option>
                                <option>Bien</option>
                                <option>Regular</option>
                                <option>Mal</option>
                                <option>Pésimo</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Próximo vuelo: </td>
                        <td><input type="date" name="exitDate" required
                                       min="@DateTime.Now.Date.ToString().Split().First()"></td>
                    </tr>
                </table>
                @if (ViewBag.lugar_del_error == 8)
                {
                    <aside class="error">
                        @ViewBag.error
                    </aside>
                }
                <button class="boton">Enviar</button>
            </form>
        </center>
    </details>
    
    <center><h1>Zona Peligrosa</h1></center>
    
    @*Cambiar nombre al aeropuerto*@
        <details class="dangerousZone">
            <summary>Cambiar nombre al aeropuerto</summary>
            <form asp-controller="Airport" asp-action="Edit" class="formulario" method="post" name="NombreAeropuerto">
                <center>
                    <input type="text" name="name" placeholder="introduzca nuevo nombre" required>
                    <button class="goodboton" type="submit">Cambiar Nombre</button>
                </center>
            </form>
        </details>

    @*Editar informacion de usuario*@
    <details class="dangerousZone" @open[5]>
        <summary>Editar información de cliente o trabajador</summary>
        <center>
            <form method="post" class="formulario">
                <table>
                    <tr>
                        <td>Correo: </td>
                        <td><input name="email"></td>
                    </tr>
                    <tr>
                        <td>Cambiar Contraseña: </td>
                        <td><input type="password" name="pwd"></td>
                    </tr>
                </table>
                @if (ViewBag.lugar_del_error == 9)
                {
                    <aside class="error">
                        @ViewBag.error
                    </aside>
                }
                <input asp-controller="Client" class="boton" asp-action="Edit" type="submit" value="Cambiar Contraseña">

                <input asp-controller="Client" class="badboton" asp-action="Delete" type="submit" value="Eliminar usuario">
            </form>
        </center>
    </details>

    @*Editar nave*@
        <details class="dangerousZone">
            <summary>Editar información de una nave</summary>
            <form class="formulario" method="post">
                <center>
                    <table>
                        <tr>
                            <td>Matrícula: </td>
                            <td><input type="text" name="plate" placeholder="Introduzca Matrícula" required></td>
                        </tr>
                        <tr>
                            <td>Cambiar dueño: </td>
                            <td><input type="text" pattern="[0-9]{1,}" name="clientid" placeholder="ID del nuevo dueño"></td>
                        </tr>
                    </table>
                    @if (ViewBag.lugar_del_error == 7)
                    {
                        <aside class="error">
                            @ViewBag.error
                        </aside>
                    }
                    <center class="error">Si se cambia de dueño y no se asume ID entonces la nave dejará de tener dueño</center>
                    <button class="goodboton" type="submit" asp-controller="Ships" asp-action="Edit">Cambiar dueño</button>
                    <button class="badboton" type="submit" asp-controller="Ships" asp-action="Delete">Eliminar nave</button>
                </center>
            </form>
        </details>
</section>
