@{
    string GetId(ShipsDTO ship)
    {
        return ship.State + "\0" + ship.Plate + "\0" + ship.NextFly + "\0" + ship.ClientID + "\0" + ship.Capacity
            + "\0" + ship.Pass + "\0" + ship.Crew + "\0" + ship.Model;
    }
}

<header>
    AIRCOM
</header>

<nav>
    <h4>USUARIO</h4>
</nav>

<nav class="navegacion">
    <form asp-controller="CView" asp-action="Index">
        <div>
            <button class="active" type="submit" name="page" value="1"><h2>Mis naves</h2></button>
            <p style="color:white;">____</p>
            <button class="pasive" type="submit" name="page" value="2"><h2>Servicios Ofertados</h2></button>
        </div>
    </form>
</nav>

@*Muestreo de las naves que pertenecen al usuario*@
@foreach (ShipsDTO ship in ViewBag.ships)
{
    <section class="dataToShow" id=@GetId(ship)>
        <div style="display: flex;">
            <div>Matricula: @Html.DisplayFor(m=>ship.Plate)</div>
            <div>Estado: @Html.DisplayFor(m=>ship.State)</div>
        </div>
        <div class="tag">
            <aside>
                <div><h4>Características:</h4></div>
                <div><strong>Modelo:</strong> @Html.DisplayFor(m=>ship.Model)</div>
                <div><strong>Capacidad de carga:</strong> @Html.DisplayFor(m=>ship.Capacity) ton</div>
                <div><strong>Cantidad de tripulantes:</strong> @Html.DisplayFor(m=>ship.Crew)</div>
                <div><strong>Cantidad de pasajeros:</strong> @Html.DisplayFor(m=>ship.Pass)</div>
            </aside>

            <div>
                <div>Fecha de salida programada:</div>
                <div>@Html.DisplayFor(m=>ship.NextFly.ToString().Split()[0])</div>
                <form method="post">
                    <button asp-controller="History" asp-action="" class="boton" type="submit">
                        Ver historial
                    </button>
                    <button class="boton" type="submit">
                        Ver reparaciones
                    </button>
                </form>
            </div>
            <form method="post" style="display:block;">
                <center>
                    <div>
                        <select name="Rol">      
                            <option value="VIP">VIP</option>
                            <option value="Dueño de naves">Dueño de naves</option>
                            <option value="Patrocinador">Patrocinador</option>
                            <option value="Empresa de viajes">Empresa de viajes</option>
                        </select>
                    </div>
                    <div>
                        <button class="boton">Incluirse</button>
                    </div>
                </center>
            </form>
        </div>

    </section>
}
