@{
    string Calificacion(int val)
    //ponerlo en funcion de la calificacion
    {
        string cal = "";
        for (int i = 0; i < val / 2; i++)
            cal += "⭐";
        if (val % 2 == 1)
            cal += "🌗";
        for (int i = 0; i < (10 - val) / 2; i++)
            cal += "🌑";
        return cal;

    }
}


<header>
    AIRCOM
</header>

<nav>
    <h4>AEROPUERTO > USUARIO</h4>
    <form asp-controller="Mechanic" asp-action="Index">
        <div>
            <div><button class="no" type="submit" name="page" value="1">❗</button></div>
            <div><button class="no" type="submit" name="page" value="2">🛠️</button></div>
            <div><button class="yes" type="submit" name="page" value="3">✉️</button></div>
        </div>
    </form>
</nav>

<h1>Reparaciones Realizadas:</h1>
@foreach (RepairShipDTO repair in ViewBag.repairs)
{
    <section class="dataToShow" style="font-size:x-large">
        <div style="display: flex;">
            <div>Matricula: @Html.DisplayFor(m=>repair.Plate)</div>
            <div>Estado: @Html.DisplayFor(m=>repair.State)</div>
            <div>tipo: @Html.DisplayFor(m=>repair.Name)</div>
        </div>
        <div>
            <div>Inicio: @Html.DisplayFor(m=>repair.Init)</div>
            <div>Terminación: @Html.DisplayFor(m=>repair.Finish)</div>
            <div>Costo: $@Html.DisplayFor(m=>repair.Price)</div>
        </div>
        <div>
            <div style="flex:none;">@Calificacion(10)</div>
            <div style="background-color:lightgrey; padding:0.5%; border:solid;font-size:medium;">
                <details>
                    <summary><strong>Leer Comentario: </strong></summary>
                    Poner aqui el comentario correspondiente si existe
                </details>
            </div>
        </div>

    </section>
}
