<header>
    AIRCOM
</header>

<nav>
    <h4>AEREOPUERTO > USUARIO</h4>
</nav>
<nav class="navegacion">
    <form method="post">
        <div>
            <button asp-controller="Direction" asp-action="Index" class="active" type="submit" name="page" value="1"><h2>Instalaciones</h2></button>
            <p style="color:white;">____</p>
            <button asp-controller="Direction" asp-action="Index" class="pasive" type="submit" name="page" value="2"><h2>Servicios</h2></button>
            <p style="color:white;">____</p>
            <button asp-controller="Direction" asp-action="Index" class="pasive" type="submit" name="page" value="3"><h2>Reparaciones</h2></button>
        </div>
    </form>
    <aside>
        <button class="no" onclick="show()">➕</button>
        <button class="badboton">📴</button>
    </aside>
</nav>

<center id="add">
    <div>
        <div>
            <h4>Agregar nueva instalación</h4>

            <button class="no" onclick="hide()">✖️</button>
        </div>
        <form asp-controller="Installation" asp-action="Create">
            <div>
                <div>
                    <div>
                        <div>
                            <h5>Número de la instalación:</h5>
                            <input type="number" name="installationid" />
                        </div>
                    </div>

                    <div>
                        <h5>Ubicación:</h5>
                    </div>

                    <select name="ubication">
                        @foreach (var x in new string[] { "Norte", "Sur", "Este", "Oeste", "Centro", "Noreste", "Noroeste", "Sureste", "Suroeste" })
                        {
                            <option>@x</option>
                        }
                    </select>
                </div>
                <div>
                    <div>
                        <h5>Nombre (Opcional):</h5>
                    </div>
                    <input type="text" name="name">
                </div>
            </div>
            <div style="justify-content:center;">
                <h5>Tipo:</h5>
                <input type="text" name="type">
                <button class="boton" type="submit">Crear</button>
            </div>
        </form>
        @if (ViewBag.lugar_del_error == 1)
        {
            <aside class="error">
                @ViewBag.error
            </aside>
        }
    </div>
</center>

<div class="ofertas">
    @foreach (InstallationDTO inst in ViewBag.installations)
    {
        <div>
            <div>
                <div>
                    <strong>Instalación #@Html.DisplayFor(m=>inst.InstallationID)</strong>
                </div>
                <div>
                    <strong>Ubicación:</strong> @Html.DisplayFor(m=>inst.Ubication)
                </div>
                    
                <div id=@inst.ID.ToString()>
                    <div>
                        <strong>Nombre:</strong> @Html.DisplayFor(m=>inst.Name)
                    </div>
                    <div>
                        <strong>Tipo:</strong> @Html.DisplayFor(m=>inst.Type)
                    </div>
                    <center>
                        <button class="goodboton" onclick="swap(@inst.ID.ToString(),true)">Editar</button>
                    </center>
                </div>
                <form method="post" id=@("a"+@inst.ID.ToString()) style="display:none">
                        <input name="id" value="@Html.DisplayFor(m=>inst.ID)" hidden>
                    <div>
                        <strong>Nombre:</strong> <input name="name" value=@Html.DisplayFor(m=>inst.Name)>
                    </div>
                    <div>
                        <strong>Tipo:</strong> <input name="type" value=@Html.DisplayFor(m=>inst.Type)>
                    </div>
                    <center>
                        <button asp-controller="Installation" asp-action="Edit" class="goodboton" type="submit">Enviar</button>
                        <button type="button" class="badboton" onclick="swap(@inst.ID.ToString(),false)">Volver</button>

                        <button asp-controller="Installation" asp-action="Delete" class="boton" style="background-color:rgb(165,5,5)">Eliminar</button>
                    </center>
                </form>
                <center>
                    <form>
                        <input name="id" value="@Html.DisplayFor(m=>inst.ID)" hidden>
                        <input name="filter" value="true" hidden>
                        <button asp-controller="Direction" asp-action="Index" name="page" value="2" class="boton">Servicios</button>
                        <button asp-controller="Direction" asp-action="Index" name="page" value="3" class="boton">Reparaciones</button>
                    </form>
                </center>
            </div>
        </div>
    }
</div>
