@{
    string Evaluation(int val)
    {
        string cal = "";
        for (int i = 0; i < val / 2; i++)
            cal += "⭐";
        if (val % 2 == 1)
            cal += "🌗";
        for (int i = 0; i < (10 - val) / 2; i++)
            cal += "🌑";
        return cal;
    }
}

<header>
    AIRCOM
</header>

<nav>
    <h4>AEREOPUERTO > USUARIO</h4>
</nav>
<nav class="navegacion">
    <form method="post">
        <div>
            <button asp-controller="Direction" asp-action="Index" class="pasive" type="submit" name="page" value="1"><h2>Instalaciones</h2></button>
            <p style="color:white;">____</p>
            <button asp-controller="Direction" asp-action="Index" class="pasive" type="submit" name="page" value="2"><h2>Servicios</h2></button>
            <p style="color:white;">____</p>
            <button asp-controller="Direction" asp-action="Index" class="active" type="submit" name="page" value="3"><h2>Reparaciones</h2></button>
        </div>
    </form>
    <aside>
        <button class="no" onclick="show()">➕</button>
        <input type="text" placeholder="🔍buscar">
        <button class="badboton">📴</button>
    </aside>
</nav>

<center id="add">
    <div>
        <div>
            <h4>Agregar nueva reparación</h4>
            <button class="no" onclick="hide()">✖️</button>
        </div>
        <form asp-controller="RepairInstallation" asp-action="Create">
            <div>
                <div>
                    <div>
                        <h5>Instalación:</h5>
                    </div>

                    <div>
                        <select name="InstallationID" asp-items="ViewBag.installations"></select>
                    </div>
                </div>
                <div>
                    <div>
                        <h5>Reparación:</h5>
                    </div>
                    <div>
                        <select name="RepairID" asp-items="ViewBag.rep"></select>
                    </div>
                </div>
            </div>
            <div style="justify-content:center;">
                <h5>Precio: $</h5>
                <input type="number" name="price" step="0.01">
                <button class="boton" type="submit">Crear</button>
            </div>
        </form>
        @if (ViewBag.lugar_del_error == 3)
        {
            <aside class="error">
                @ViewBag.error
            </aside>
        }
    </div>
</center>

<div class="ofertas">

    @foreach (RepairInstallationDTO repair in ViewBag.repairs)
    {
        <div style="display:block" id=@repair.ID>
            <div style="display:flex;justify-content:space-between;">
                <div>
                    <div>
                        @Html.DisplayFor(m=>repair.Name)
                    </div>
                    <div>
                        Instalación #@Html.DisplayFor(m=>repair.InstallationID)
                    </div>
                </div>
                <aside>
                    <div>
                        <h3>$@Html.DisplayFor(m=>repair.Price)/h</h3>
                    </div>
                    <div>
                        @if (repair.Stars is null)
                        {
                            <p>no hay reseñas</p>
                        }
                        @if (repair.Stars is not null)
                        {
                            @Evaluation((int)repair.Stars)
                        }
                    </div>
                </aside>
            </div>
            <div style="margin-top:2%; display:flex;">
                <button class="boton" onclick="swap(@repair.ID,true)">Cambiar precio</button>
                <form asp-controller="RepairInstallation" asp-action="Delete">
                    <input name="id" value="@Html.DisplayFor(m=>repair.ID)" hidden>
                    <input name="installationid" value="@Html.DisplayFor(m=>repair.InstallationID)" hidden>
                    <button class="boton" style="background-color:rgb(175,10,10)">Eliminar</button>
                </form>
                <form asp-controller="Extra" asp-action="Index">
                    <input name="id" value="@Html.DisplayFor(m=>repair.ID)" hidden>
                    <button name="page" value="3" class="boton">Ver reseñas</button>
                </form>
            </div>
        </div>
        <div style="display:none;" id=@("a"+repair.ID)>
            <div>
                <h3>Nuevo precio por hora:</h3>
            </div>
            <form asp-controller="RepairInstallation" asp-action="Edit">
                <input name="id" value="@Html.DisplayFor(m=>repair.ID)" hidden>
                <input name="installationid" value="@Html.DisplayFor(m=>repair.InstallationID)" hidden>
                <center>
                    $
                    <input type="number" name="price" step="0.01">
                    /h
                </center>
                <center>
                    <button type="submit" class="goodboton">Cambiar</button>
                    <button type="button" class="badboton" onclick="swap(@repair.ID,false)">Volver</button>
                </center>
            </form>
        </div>
    }
</div>

