<header>
    AIRCOM
</header>

<nav>
    <h4>AEREOPUERTO > USUARIO</h4>
</nav>
<nav class="navegacion">
    <form method="post">
        <div>
            <button class="pasive" type="submit" name="page" value="1"><h2>Instalaciones</h2></button>
            <p style="color:white;">____</p>
            <button class="active" type="submit" name="page" value="2"><h2>Servicios</h2></button>
            <p style="color:white;">____</p>
            <button class="pasive" type="submit" name="page" value="3"><h2>Reparaciones</h2></button>
        </div>
    </form>
    <aside>
        <button class="no" onclick="show()">➕</button>
        <input type="text" placeholder="🔍buscar">
    </aside>
</nav>

<center id="add">
    <div>
        <div>
            <h4>Agregar nuevo servicio</h4>
            <button class="no" onclick="hide()">✖️</button>
        </div>
        <form asp-controller="ServiceInstallation" asp-action="Create">
            <div>
                <div>
                    <div>
                        <h5>Instalación:</h5>
                    </div>

                    <div>
                        <select name="InstallationID" asp-items="ViewBag.installations"></select>
                    </div>
                </div>
                <div>
                    <div>
                        <h5>Nombre:</h5>
                    </div>
                    <input type="text" name="name">
                </div>
            </div>
            <div style="justify-content:center;">
                <h5>Precio: $</h5>
                <input type="number" name="price">
                <button class="boton" type="submit">Crear</button>
            </div>
        </form>
        @if (ViewBag.lugar_del_error == 2)
        {
            <aside class="error">
                @ViewBag.error
            </aside>
        }
    </div>
</center>

<div class="ofertas">
    @foreach (ServiceInstallationDTO service in ViewBag.services)
    {
        
        <div style="display:block" id=@service.Code.ToString()>
            <div style="display:flex;">
                <div>
                    <div>
                        @Html.DisplayFor(m=>service.Name)
                    </div>
                    <div>
                        Instalacion #@Html.DisplayFor(m=>service.InstallationID)
                    </div>
                </div>
                <aside>
                    <div>
                        <h3>$@Html.DisplayFor(m=>service.Price)/h</h3>
                    </div>
                    <div>
                        ⭐⭐⭐⭐⭐
                    </div>
                </aside>
            </div>
            <div style="margin-top:2%;">
                <button class="boton" onclick="swap(@service.Code.ToString(),true)">Cambiar precio</button>
                <button class="badboton">Eliminar</button>
                <button class="boton">Ver reseñas</button>
            </div>
        </div>
        <div style="display:none;" id=@("a"+service.Code.ToString())>
            <div>
                <h3>Nuevo precio del servicio:</h3>
            </div>
            <form asp-controller="ServiceInstallation" asp-action="Edit">
                <input name="id" value="@Html.DisplayFor(m=>service.Code)" hidden>
                <center>
                    $
                    <input type="number" name="price">
                </center>
                <center>
                    <button type="submit" class="goodboton">Cambiar</button>
                    <button type="button" class="badboton" onclick="swap(@service.Code.ToString(),false)">Volver</button>
                </center>
            </form>
        </div>
    }
</div>

